.page-wrapper {
  .title {
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-indent: 20px;
    color: #529fff;
    background-color: #2a384e;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 1px rgba(162, 162, 162, .2);
  }
  .info-wrapper {
    width: 100%;
    padding: 38px 173px 97px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(162, 162, 162, .2);
    .info-table {
      border: 1px solid #eaedfa;
      margin-bottom: 26px;
      thead {
        border: 1px solid #eaedfa;
        tr {
          height: 36px;
          border: 1px solid #eaedfa;
          th {
            border: 1px solid #eaedfa;
            background-color: #eff2f7;
            color: #333;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
      tbody {
        border: 1px solid #eaedfa;
        tr {
          height: 36px;
          border: 1px solid #eaedfa;
          td {
            border: 1px solid #eaedfa;
            color: #333;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
    }
    .add-plants {
      float: right;
      width: 139px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      background-color: #529fff;
      color: #fff;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #4d8fe8;
      }
    }
  }
}

/*模态弹窗*/
.wrapper {
  position: relative;
  .modal-wrapper {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    padding: 68px 0 0 233px;
    .right-bottom-wrapper {
      position: relative;
      height: 100%;
      .submit-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 440px;
        //height: 310px;
        background-color: #fff;
        border-radius: 6px;
        padding-bottom: 20px;
        .close-wrapper {
          width: 100%;
          height: 51px;
          padding-right: 10px;
          i {
            float: right;
            font-size: 35px;
            color: #529fff;
            cursor: pointer;
            transition: all .3s linear;
            transform: rotate(0deg);
            &:hover {
              color: #4d8fe8;
              transform: rotate(90deg);
            }
          }
        }
        .one-line-rapper {
          height: 36px;
          line-height: 36px;
          width: 100%;
          padding: 0 82px 0 82px;
          margin-bottom: 10px;
          .key {
            font-size: 12px;
            color: #333;
          }
          .input {
            width: 216px;
            height: 100%;
            border: 1px solid #ebebeb;
            margin-left: 24px;
            text-indent: 15px;
            border-radius: 4px;
            color: #333;
            font-size: 12px;
          }
        }
        .tip-wrapper {
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          padding: 0 8px 0 140px;
          margin-bottom: 10px;
          color: #FF0000;
          display: none;
        }
        .submit-btn-wrapper {
          padding-top: 19px;
          text-align: center;
          span {
            display: inline-block;
            width: 139px;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            color: #fff;
            background-color: #529fff;
            transition: width linear .2s;
            &:hover {
              background: #4d8fe8;
              width: 278px;
            }
          }
        }
      }
    }
  }
}
