/*公共样式*/
.left {
  float: left;
}
.right {
  float: right;
}
.none {
  display: none;
}
.comSide {
  background: #283549;
}
.comSide a {
  display: inline-block;
  width: 100%;
  color: #529fff;
  border-bottom: #334158 1px solid;
}
.comSide.active,
.comSide:hover {
  background: #529fff;
}
.comSide.active a,
.comSide:hover a {
  height: 48px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.comSide.active a .triangle,
.comSide:hover a .triangle {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.comChild {
  color: #667ca0;
}
.comChild.active,
.comChild:hover {
  color: #fff;
  cursor: pointer;
}
.menu-svg {
  background-image: url("../../img/menu.svg");
}
.close-svg {
  background-image: url("../../img/close.svg");
}
body,
html {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  min-width: 1366px;
  overflow-x: scroll;
  height: 100%;
  background: #f1f1f2;
}
.wrapper .top-navbar {
  width: 100%;
  height: 68px;
  background: #FFF;
  border-bottom: #dcdcdc 1px solid;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-box-shadow: 0 0 5px 4px rgba(162, 162, 162, 0.2);
          box-shadow: 0 0 5px 4px rgba(162, 162, 162, 0.2);
}
.wrapper .top-navbar .left .logo {
  display: inline-block;
  width: 136px;
  height: 43px;
  margin: 12px 95px 0 36px;
  background: url("../../img/china_telecom.png") center center / 136px 43px no-repeat;
}
.wrapper .top-navbar .left .title {
  display: inline-block;
  height: 68px;
  vertical-align: top;
  line-height: 68px;
  font-size: 22px;
  color: #979797;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.wrapper .top-navbar .right {
  font-size: 0;
  height: 100%;
  line-height: 100%;
}
.wrapper .top-navbar .right .user {
  font-size: 14px;
  color: #444;
  line-height: 68px;
  margin-right: 53px;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .wrapper .top-navbar .right .user {
    display: none;
  }
}
.wrapper .top-navbar .right .Cancellation {
  margin-right: 48px;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
  line-height: 26px;
  background-color: #bfbfbf;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .wrapper .top-navbar .right .Cancellation {
    margin-top: 21px;
  }
}
.wrapper .content {
  width: 100%;
  background: #f1f1f2;
}
.wrapper .content .navbar-side {
  width: 233px;
  height: 100%;
  background: #283549;
  position: fixed;
  top: 68px;
  left: 0;
  z-index: 100;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper {
  background: #283549;
  padding: 0 15px 0 20px;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper a {
  display: inline-block;
  width: 100%;
  color: #529fff;
  border-bottom: #334158 1px solid;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper.active,
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper:hover {
  background: #529fff;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper.active a,
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper:hover a {
  height: 48px;
  color: #fff;
  cursor: pointer;
  border: none;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper.active a .triangle,
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper:hover a .triangle {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper a {
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  padding: 0;
  position: relative;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper a .icon {
  margin-left: 8px;
  font-size: 18px;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper a .text {
  font-size: 14px;
  margin-left: 20px;
}
.wrapper .content .navbar-side .nav .big-navbar .parent-wrapper a .triangle {
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper .content .navbar-side .nav .big-navbar .nav {
  padding: 0;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar {
  padding: 0 20px;
  background: #29374b;
  height: 48px;
  line-height: 48px;
  position: relative;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar:last-child a {
  border-bottom: #334158 1px solid;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar.active,
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar:hover {
  background-color: #212b3b !important;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar.active a,
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar:hover a {
  color: #fff;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar a {
  height: 48px;
  color: #667ca0;
  padding: 0;
  text-indent: 50px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar a:hover {
  background-color: #212b3b !important;
}
.wrapper .content .navbar-side .nav .big-navbar .nav .little-navbar .gray-triangle.active {
  position: absolute;
  display: inline-block;
  top: 13px;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #f1f1f2;
  border-bottom: 9px solid transparent;
}
.wrapper .content .navbar-side .log-out {
  display: none;
}
.wrapper .content .page-wrapper {
  width: 100%;
  padding: 86px 23px 18px 246px;
}
