.page-wrapper .title {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-indent: 20px;
  color: #529fff;
  background-color: #2a384e;
  border-radius: 6px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
          box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
}
.page-wrapper .search-wrapper {
  width: 100%;
  background-color: #fff;
  border: #efefef 1px solid;
  border-radius: 6px;
  padding: 37px 200px 26px 200px;
  font-size: 0;
  margin-bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
          box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
}
.page-wrapper .search-wrapper .select-factory-wrapper {
  height: 34px;
  line-height: 34px;
  color: #444;
  font-size: 14px;
  margin-bottom: 16px;
  width: 912px;
}
.page-wrapper .search-wrapper .select-factory-wrapper .select-factory-input {
  width: 189px;
  height: 34px;
  border-radius: 4px;
  border: #efefef 1px solid;
  position: relative;
  margin-left: 6px;
  text-indent: 15px;
  font-size: 14px;
  color: #444;
}
.page-wrapper .search-wrapper .select-factory-wrapper .select-factory-input option {
  font-size: 12px;
  color: #444;
  height: 30px;
  padding: 7px 0 7px 15px;
}
.page-wrapper .search-wrapper .enter-year {
  color: #444;
  font-size: 14px;
}
.page-wrapper .search-wrapper .enter-year input {
  font-size: 12px;
  width: 189px;
  height: 34px;
  border: #ebebeb 1px solid;
  margin-right: 20px;
  text-indent: 15px;
  border-radius: 4px;
  margin-left: 26px;
  color: #333;
}
.page-wrapper .search-wrapper .enter-year input::-webkit-input-placeholder {
  color: #eee;
}
.page-wrapper .search-wrapper .enter-year input:-ms-input-placeholder {
  color: #eee;
}
.page-wrapper .search-wrapper .search-tip {
  position: absolute;
  top: 82px;
  left: 206px;
  display: none;
  color: #FF0000;
  font-size: 12px;
  margin: 0 5px 0 5px;
}
.page-wrapper .search-wrapper .search-btn-wrapper {
  text-align: center;
  margin-top: 30px;
}
.page-wrapper .search-wrapper .search-btn-wrapper .search-btn {
  display: inline-block;
  width: 82px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background-color: #529fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
}
.page-wrapper .search-wrapper .search-btn-wrapper .search-btn:hover {
  background-color: #4d8fe8;
}
.page-wrapper .table-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  border: #efefef 1px solid;
  padding-bottom: 36px;
  -webkit-box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
          box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
  /*    .table-title {
          font-size: 14px;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-indent: 20px;
          border-bottom: #efefef 1px solid;
          color: #529fff;
        }*/
}
.page-wrapper .table-wrapper .info-title {
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 21px;
}
.page-wrapper .table-wrapper .info-title .info-title-text {
  border-bottom: #efefef 1px solid;
  color: #2a384e;
}
.page-wrapper .table-wrapper .table-content {
  width: 100%;
  padding: 24px 233px 0 233px;
}
.page-wrapper .table-wrapper .table-content table {
  border: #eaedfa 1px solid;
}
.page-wrapper .table-wrapper .table-content table thead {
  border: #eaedfa 1px solid;
}
.page-wrapper .table-wrapper .table-content table thead tr {
  border: #eaedfa 1px solid;
  height: 36px;
}
.page-wrapper .table-wrapper .table-content table thead tr th {
  border: #eaedfa 1px solid;
  background-color: #eff2f7;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.page-wrapper .table-wrapper .table-content table tbody {
  border: #eaedfa 1px solid;
}
.page-wrapper .table-wrapper .table-content table tbody tr {
  border: #eaedfa 1px solid;
  height: 36px;
}
.page-wrapper .table-wrapper .table-content table tbody tr td {
  border: #eaedfa 1px solid;
  color: #666;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper {
  height: 30px;
  width: 100%;
  text-align: center;
  position: relative;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .pagination {
  display: inline-block;
  margin: 0;
  height: 30px;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .pagination li.active a {
  color: #fff;
  background-color: #529fff;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .pagination li a {
  border: #efefef 1px solid;
  height: 30px;
  padding: 3px 12px;
  color: #979797;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .pagination li a:hover {
  cursor: pointer;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .switch-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #333;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .switch-wrapper .switch-up-wrapper {
  width: 70px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: #efefef 1px solid;
  display: inline-block;
  position: relative;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .switch-wrapper .switch-up-wrapper .switch-input {
  width: 70px;
  height: 28px;
  line-height: 28px;
  text-indent: 10px;
  display: inline-block;
  border: none;
  font-size: 12px;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .switch-wrapper .switch-up-wrapper .switch-input:focus {
  outline: none;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .switch-wrapper .switch-up-wrapper .switch-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eff2f7;
  color: #373738;
  text-align: center;
  display: inline-block;
  width: 39px;
  height: 100%;
}
.page-wrapper .table-wrapper .table-content .pagination-wrapper .switch-wrapper .switch-up-wrapper .switch-btn:hover {
  background-color: #e3e4e9;
}
