.page-wrapper .title {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-indent: 20px;
  color: #529fff;
  background-color: #2a384e;
  border-radius: 6px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
          box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
}
.page-wrapper .info-wrapper {
  width: 100%;
  padding: 38px 100px 97px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
          box-shadow: 0 0 5px 1px rgba(162, 162, 162, 0.2);
}
.page-wrapper .info-wrapper .select-factory-wrapper {
  height: 34px;
  line-height: 34px;
  color: #444;
  font-size: 14px;
  margin-bottom: 16px;
  width: 912px;
}
.page-wrapper .info-wrapper .select-factory-wrapper .select-factory-input {
  width: 189px;
  height: 34px;
  border-radius: 4px;
  border: #efefef 1px solid;
  position: relative;
  margin-left: 6px;
  text-indent: 15px;
  font-size: 14px;
  color: #444;
}
.page-wrapper .info-wrapper .select-factory-wrapper .select-factory-input option {
  font-size: 12px;
  color: #444;
  height: 30px;
  padding: 7px 0 7px 15px;
}
.page-wrapper .info-wrapper .tip-div {
  margin: 20px 0 16px;
  font-size: 12px;
  color: #aaa;
  font-weight: 500;
}
.page-wrapper .info-wrapper .info-table {
  border: 1px solid #eaedfa;
  margin-bottom: 40px;
}
.page-wrapper .info-wrapper .info-table thead {
  border: 1px solid #eaedfa;
}
.page-wrapper .info-wrapper .info-table thead tr {
  height: 36px;
  border: 1px solid #eaedfa;
}
.page-wrapper .info-wrapper .info-table thead tr th {
  border: 1px solid #eaedfa;
  background-color: #eff2f7;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.page-wrapper .info-wrapper .info-table tbody {
  border: 1px solid #eaedfa;
}
.page-wrapper .info-wrapper .info-table tbody tr {
  height: 36px;
  border: 1px solid #eaedfa;
}
.page-wrapper .info-wrapper .info-table tbody tr td {
  border: 1px solid #eaedfa;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}
.page-wrapper .info-wrapper .info-table tbody tr td .btn-edit {
  font-size: 12px;
  background: #529fff;
  border: none;
  height: 26px;
}
.page-wrapper .info-wrapper .info-table tbody tr td .btn-edit:hover {
  background: #337ab7;
}
.page-wrapper .info-wrapper .add-btn-wrapper {
  text-align: center;
}
.page-wrapper .info-wrapper .add-btn-wrapper .add-btn {
  padding: 0;
  display: inline-block;
  width: 82px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background-color: #529fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-left: 30px;
}
.page-wrapper .info-wrapper .add-btn-wrapper .add-btn:hover {
  background-color: #4d8fe8;
}
/*模态弹窗*/
.wrapper {
  position: relative;
}
.wrapper .modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 68px 0 0 233px;
}
.wrapper .modal-wrapper .right-bottom-wrapper {
  position: relative;
  height: 100%;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 440px;
  background-color: #fff;
  border-radius: 6px;
  padding-bottom: 20px;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .close-wrapper {
  width: 100%;
  height: 51px;
  padding-right: 10px;
  overflow: hidden;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .close-wrapper i {
  float: right;
  font-size: 35px;
  color: #529fff;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .close-wrapper i:hover {
  color: #4d8fe8;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .one-line-rapper {
  height: 36px;
  line-height: 36px;
  width: 100%;
  padding: 0 82px 0 82px;
  margin-bottom: 10px;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .one-line-rapper .key {
  font-size: 12px;
  color: #333;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .one-line-rapper .input {
  width: 216px;
  height: 100%;
  border: 1px solid #ebebeb;
  margin-left: 24px;
  text-indent: 15px;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table {
  margin: 0 auto;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0;
  height: 40px;
  font-size: 12px;
  margin-right: 5px;
  color: #333;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td:nth-of-type(1) {
  padding-right: 10px;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td input,
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td select {
  width: 216px;
  height: 100%;
  border: 1px solid #ebebeb;
  text-indent: 15px;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td input::-webkit-input-placeholder,
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td select::-webkit-input-placeholder {
  color: #eee;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td input:-ms-input-placeholder,
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .table-wrapper table tr td select:-ms-input-placeholder {
  color: #eee;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .tip-wrapper {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 8px 0 152px;
  margin-bottom: 10px;
  color: #FF0000;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .submit-btn-wrapper {
  padding-top: 6px;
  text-align: center;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .submit-btn-wrapper span {
  display: inline-block;
  width: 139px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #529fff;
  -webkit-transition: width linear .2s;
  transition: width linear .2s;
}
.wrapper .modal-wrapper .right-bottom-wrapper .submit-wrapper .submit-btn-wrapper span:hover {
  background: #4d8fe8;
  width: 278px;
}
